// Variables 
$main-color: #F4EEC7;
$orange-color: #FFB039;

html, body {
  height: 100%;
  font-family: 'Secular One', sans-serif;
}

body {
  background-color: $main-color;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}


// HERO-SECTION ----------------

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  transition: .2s;
  padding: 1rem;

  // &:hover {
  //   transform: scale(1.01)
  // }
  
  span {
    background-color: $orange-color;
    color: white;
  }
}

.first-part {
  height: 50%;
}

.second-part {
  min-height: 50%;
  background-color: $orange-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: $orange-color;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-align: center;
  line-height: 0.9;
  span {
    color: white;
  }
}

.generate-btn {
  border: 2px solid white;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  transition: all .2s;

  &:hover {
    background-color: rgba(255,255,255, 0.2);
    transform: scale(1.01)
  }
}


// Cards Page

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.card {
  color: white;
  background-color: $orange-color;
  padding: 20px;
  transition: all .2s;
  &:hover {
    background-color: darken($orange-color, 10%);
    transform: scale(1.01)
  }
}


// Games For Company

.game__interface {
  text-align: center;
  color: $orange-color;
  margin-top: 40px;

  * {
    margin-bottom: 30px;
    font-size: 1rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

.btn {
  border: none;
  outline: none;
  padding: 20px;
  background-color: $orange-color;
  color: white;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    background-color: darken($orange-color, 10%);
  }
}

// game-types 

.game__types {
  display: flex;
  justify-content: space-evenly;
}

.game__type {
  border: none;
  outline: none;
  background-color: lighten($orange-color, 10%);
  padding: 5px;
  transition: all .2s;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: darken($orange-color, 20%);
  }
}

.active.game__type {
  background-color: darken($orange-color, 20%);
}

.game__name, .game__rules {
  font-size: 1.3rem;
}

.buttons a {
  padding: 17px;
}




// FOOTER 

footer {
  background-color: $orange-color;
  height: 200px;
  color: white;
  text-align: center;
  padding-top: 50px;
}